APP_NAME="Beam-Test"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost

APP_LOCALE=ru
APP_FALLBACK_LOCALE=ru
APP_FAKER_LOCALE=ru_RU

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=sqlite

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

FILESYSTEM_DISK=local

CACHE_STORE=database

PUSHER_APP_ID=2158342
PUSHER_APP_KEY=9eb83277b02a42d9f884
PUSHER_APP_SECRET=895250ea12a8583e4ba7
PUSHER_APP_CLUSTER=ap2
PUSHER_USE_TLS=true
PUSHER_TIMEOUT=1

VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
